@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}

.row{
	width: 80%;
	padding: 0 10%;
}

.header-1 a{
	text-decoration: none;
	color: red;
}

.header-1 h1{
	font-size: 48pt;
	font-family: "Arial Black", "sans-serif";
}

.card-header{
	width: 100%;
}

.col a{
	text-decoration: none;
	color: blue;
}

.col a:hover{
	text-decoration: none;
	color: darkgray;
}

.col h4{
	font-size: 14pt;
}

.container a{
	text-decoration: none;
	color: blue;
}

.container a:hover{
	text-decoration: none;
	color: darkgray;
}

.card-footer h2{
	color: gray;
	font-size: 18pt;
}

.section-1{
	width: 100%;
	padding: 0 15%;
}

.section-1 h5{
	color: brown;
}

.section-2{
	margin-left: 15%;
}

main h5{
	font-size: 14pt;
}

main p{
	font-size: 12pt;
}

.section-3 a{
	text-decoration: none;
	color: blue;
}

.section-3 a:hover{
	text-decoration: none;
	color: darkgray;
}