@charset "utf-8";
/* CSS Document */

.header-1 a{
	text-decoration: none;
	color: red;
}

.header-1 h1{
	font-size: 48pt;
}

.card-header{
	width: 100%;
}

.col a{
	text-decoration: none;
	color: blue;
}

.col a:hover{
	text-decoration: none;
	color: darkgray;
}

.col h4{
	font-size: 14pt;
}

.container a{
	text-decoration: none;
	color: blue;
}

.container a:hover{
	text-decoration: none;
	color: darkgray;
}

.card-footer h2{
	color: gray;
	font-size: 18pt;
}

