@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}

body{
	font: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

html{
	scroll-behavior: smooth;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

.mySlides {
	display: none;
	box-sizing: border-box;
	font-family: Verdana, sans-serif;
}

.mySlides img {
	vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .mySlides .text {font-size: 11px}
}

.main{
	width: 100%;
	height: auto;
}

.background{
	width: 100%;
	height: 500px;
	background-image: url("Background.jpg");
	background-repeat: no-repeat;
}

.header{
	width: 80%;
	height: 80px;
	padding: 0 10%;
	background-color: blue;
	color: aliceblue;
}

.header a{
	text-decoration: none;
	color: aliceblue;
}

.index{
	float: left;
	width: 25%;
	padding: 15px 0;
}

.call{
	float: left;
	width: 20%;
	padding: 15px 48px;
}

.call h2{
	color: darkgray;
}

.call h2:hover{
	color: aliceblue;
}

.header ul{
	float: right;
	text-decoration: none;
	list-style: none;
	padding: 25px 0;
}

.header li{
	display: inline;
	padding: 0 10px;
}

.header li:hover{
	color: darkgray;
}

.menu1{
	width: 7%;
	position: absolute;
	top: 50px;
	left: 85%;
	background-color: gray;
	visibility: hidden;
	transition: all .5s linear;
	opacity: 0;
	z-index: 2000;
}

.menu:hover .menu1{
	visibility: visible;
	opacity: 1;
}

.text{
	color: aliceblue;
	float: left;
	padding-top: 100px;
	padding-left: 10%;
}

.text button{
	background-color: blue;
	color: aliceblue;
	padding: 10px 30px;
	margin: 10% 0;
}

.text button:hover{
	background-color: black;
	color: aliceblue;
	padding: 10px 30px;
	margin: 10% 0;
}

form{
	float: right;
	padding-top: 50px;
	padding-right: 10%;
}

form li{
	color: aliceblue;
}

form h3{
	color: aliceblue;
	text-align: center;
}

.form-style-1 {
	background-color: blue;
	margin:10px auto;
	max-width: 400px;
	padding: 20px 50px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}

.form-style-1 label{
	margin:0 0 3px 0;
	padding:0px;
	display:block;
	font-weight: bold;
}

form button{
	background-color: brown;
	color: aliceblue;
	padding: 10px;
	margin: 0 auto;
}

form button:hover{
	background-color: darkgray;
	color: aliceblue;
	padding: 10px;
	margin: 0 auto;
}

#gioithieu{
	width: 80%;
	height: 620px;
	padding: 0 10%;
	position: relative;
}

#gioithieu h1{
	font-size: 36pt;
}

#gioithieu p{
	float: left;
	width: 40%;
}

#gioithieu ul{
	float: right;
	list-style: circle;
	font-size: 24pt;
}

.img1{
	background-image: url("hinh1.jpg");
	width: 80%;
	height: 320px;
	position: absolute;
	top: 270px;
}

#dichvu{
	width: 80%;
	height: 620px;
	padding: 0 10%;
	background-color: aqua;
	text-align: center;
	position: relative;
}

#dichvu h1{
	text-align: center;
	font-size: 36pt;
}

#dichvu h2{
	font-size: 24pt;
}

#dichvu p{
	font-size: 18pt;
}

#dichvu button{
	margin: 10px 0;
	background-color: blue;
	color: aliceblue;
	padding: 5px 15px;
}

#dichvu button:hover{
	margin: 10px 0;
	background-color: black;
	color: aliceblue;
	padding: 5px 15px;
}

.illustrator{
	float: left;
	width: 20%;
	height: 170px;
	background-color: antiquewhite;
	position: absolute;
	top: 100px;
	padding: 25px;
}

.photoshop{
	float: left;
	width: 20%;
	height: 170px;
	background-color: antiquewhite;
	position: absolute;
	top: 100px;
	left: 38%;
	padding: 25px;
}

.indesign{
	float: right;;
	width: 20%;
	height: 170px;
	background-color: antiquewhite;
	position: absolute;
	top: 100px;
	left: 65%;
	padding: 25px;
}

.cartoon{
	float: left;
	width: 20%;
	height: 170px;
	background-color: antiquewhite;
	position: absolute;
	top: 370px;
	padding: 25px;
}

.film{
	float: left;
	width: 20%;
	height: 170px;
	background-color: antiquewhite;
	position: absolute;
	top: 370px;
	left: 38%;
	padding: 25px;
}

.other{
	float: right;
	width: 20%;
	height: 170px;
	background-color: antiquewhite;
	position: absolute;
	top: 370px;
	left: 65%;
	padding: 25px;
}

.hinhanh{
	width: 80%;
	height: 600px;
	padding: 0 10%;
}

.hinhanh h1{
	text-align: center;
	font-size: 36pt;
}

.benle{
	width: 80%;
	height: 120px;
	padding: 0 10%;
	color: aliceblue;
	background-color: blue;
}

.benle h1{
	font-size: 36pt;
}

.button{
	float: right;
	width: 120px;
	height: 30px;
	background-color: gray;
	text-align: center;
	margin: 50px 0;
}

.button a{
	text-decoration: none;
	color: aliceblue;
}

.button:hover{
	width: 120px;
	height: 30px;
	background-color: black;
	text-align: center;
}

.text1{
	float: left;
	width: 40%;
	padding: 20px 0;
}

.myskill{
	box-sizing: border-box;
}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {
	width: 40%; 
	background-color: #04AA6D;
}

.css {width: 30%; 
	background-color: #2196F3;
}

.ai {
	width: 65%; 
	background-color: #f44336;
}

.ps {
	width: 60%; 
	background-color: #808080;
}

.background1{
	width: 80%;
	height: 440px;
	padding: 0 10%;
}

.myskill{
	float: left;
	width: 40%;
}

.video{
	float: right;
	width: 30%;
	padding-right: 50px;
}

.hinhanh1{
	width: 100%;
	height: 160px;
	background-image: url(hinh2.jpg);
}

.hinhanh1 h1{
	font-size: 36pt;
}

.text2{
	float: right;
	width: 60%;
	height: 120px;
	background-color: blue;
	padding: 20px 50px;
	color: aliceblue;
}

.text2 button{
	background-color: aliceblue;
	color: black;
	padding: 10px 20px;
	margin: 10px 0;
}

.text2 button:hover{
	background-color: darkgray;
	color: aliceblue;
	padding: 10px 20px;
	margin: 10px 0;
}

#hinhanh2{
	width: 80%;
	height: 900px;
	padding: 0 10%;
	position: relative;
}

#hinhanh2 h1{
	text-align: center;
	font-size: 36pt;
}

.anh1{
	width: 23%;
	height: 300px;
	background-image: url("hinh-1.jpg");
	overflow: hidden;
	position: absolute;
}

.anh2{
	width: 23%;
	height: 400px;
	background-image: url(hinh-2.jpg);
	overflow: hidden;
	position: absolute;
	top: 440px;
}

.anh3{
	width: 23%;
	height: 400px;
	background-image: url(hinh-3.jpg);
	overflow: hidden;
	position: absolute;
	left: 38%;
}

.anh4{
	width: 23%;
	height: 300px;
	background-image: url("Tom&Jerry.jpeg");
	overflow: hidden;
	position: absolute;
	top: 540px;
	left: 38%;
}

.anh5{
	width: 23%;
	height: 300px;
	background-image: url("Tom&Jerry1.jpg");
	overflow: hidden;
	position: absolute;
	left: 67%;
}

.anh6{
	width: 23%;
	height: 400px;
	background-image: url(hinh1);
	overflow: hidden;
	position: absolute;
	top: 440px;
	left: 67%;
}

#hinhanh2 div {
  background: red;
  transition: width 2s, height 4s;
}

#hinhanh2 .anh1:hover {
  width: 27%;
  height: 320px;
}

#hinhanh2 .anh2:hover {
  width: 27%;
  height: 450px;
}

#hinhanh2 .anh3:hover {
  width: 27%;
  height: 450px;
}

#hinhanh2 .anh4:hover {
  width: 27%;
  height: 320px;
}

#hinhanh2 .anh5:hover {
  width: 27%;
  height: 320px;
}

#hinhanh2 .anh6:hover {
  width: 27%;
  height: 450px;
}

#lienhe{
	width: 80%;
	height: 170px;
	padding: 0 10%;
	background-color: aliceblue;
}

#lienhe h1{
	text-align: center;
	font-size: 36pt;
}

.text1-1{
	float: left;
	width: 29%;
}

.text1-2{
	float: left;
	width: 20%;
	padding: 0 12%;
}

.text1-3{
	float: right;
	width: 25%;
}

.footer{
	width: 80%;
	height: 200px;
	padding: 0 10%;
	background-color: blue;
	text-align: center;
	font-size: 24pt;
	color: aliceblue;
}